

/* Galerie */
.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.gallery-item {
    background-color: #08000fab;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gallery-title {
    height: 100px; /* Feste Höhe für alle Titel */
    margin: 0;
    padding: 0 10px;
    display: flex;
    align-items: center; /* Vertikale Zentrierung */
    justify-content: center; /* Horizontale Zentrierung */
    text-align: center; /* Mehrzeilige Titel ausrichten */
    overflow: hidden; /* Überschüssiger Text wird abgeschnitten */
    text-overflow: ellipsis;
}

.gallery-item img {
    margin-top: 10px; /* Abstand zwischen Titel und Bild */
    max-width: 100%;
    max-height: calc(100% - 60px); /* Bildhöhe reduziert für Titel */
    border-radius: 10px;
    cursor: pointer;
    object-fit: cover;
}

.gallery-item img:hover {
    transform: scale(1.05);
}

#story-text {
    white-space: pre-wrap; /* Zeilenumbrüche respektieren */
    line-height: 1.6;      /* Zeilenabstand erhöhen */
    word-wrap: break-word; /* Lange Wörter umbrechen */
}




